<div id="home"><br><br>
<a href="/"><img id="homepage" src="http://i.imgur.com/hES45VG.png"></a>

<p>Get stats on your last 10 Instagram posts or battle<br> a friend and see who's more #InstaFamous!
</p>

<button>
	<a href="/addhandle">Check Your Stats!</a>
</button><br><br>
<button>
	<a href="/newbattle">Battle a Friend!</a>
</button>
</div>