<div id="search"><br><br>
<%= form_tag("/showhandle", method: "get") do %>
  <h2><%= label_tag(:username, "enter your Instagram username") %></h2>
  <h5><em>* your Instagram username must be public</em></h5>
  <%= text_field_tag(:username) %><br><br>
  <%= submit_tag("view stats") %>
<% end %>
</div>