.col-group > div {
  padding: 1em;
  margin-bottom: 1em;  
}

@media screen and (min-width: 44em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 50%;
  }
}

body {
	background-color: #eeeeee;
	font-family: 'Istok Web', sans-serif;
	color: #262626;
}

#home {
	text-align: center;
}

header {
	background-color: #8f3582;
	font-family: 'Istok Web', sans-serif;
	color: #ffffff;
	position: fixed;
  height: auto;
  width: 100%;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#profile {
	border-style:solid;
	border-color:#8f3582;
	border-width:5px;
	border-radius: 100px;
}

button {
	width: 200px;
	background-color: #2172A8;
	padding:15px;
	font-size:18px;
	color: #ffffff;
	border-radius:4px;
	text-decoration:none;
	text-transform: none;
	border-style: none;
	border-radius:10px;
}

a {
	text-decoration:none;
	color: #ffffff;
}

#search {
	text-align: center;
}
