body {
	background-color: #eeeeee;
	font-family: 'Istok Web', sans-serif;
	color: #262626;
}

#home {
	text-align: center;
}

header {
	background-color: #8f3582;
	font-family: 'Istok Web', sans-serif;
	color: #ffffff;
	position: fixed;
  height: auto;
  width: 100%;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#profile {
	border-style:solid;
	border-color:#8f3582;
	border-width:5px;
	border-radius: 100px;
}

button {
	width: 200px;
	background-color: #2172A8;
	padding:15px;
	font-size:18px;
	color: #ffffff;
	border-radius:4px;
	text-decoration:none;
	text-transform: none;
	border-style: none;
	border-radius:10px;
	margin-bottom: 15px;
}

a {
	text-decoration:none;
	color: #ffffff;
}

#search {
	text-align: center;
}

.main_container {
	width: 100%;
}

.pseudo_container {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.stats_container {
	width: 45%;
	margin: 0 auto;
	border-style: solid;
	border-width: 2px;
	border-color: #d1d1d1;
	border-radius: 6px;
}

.handle_name {
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	background-color: #B033B2;
	border-color: #B033B2;
}

.bubbles {
	display: inline-block;
}

.bubble {
	display: inline-block;
	margin: 0px 15px;
}

.icon_container {
	border-style: solid;
	border-color: #000000;
	border-radius: 100px;
	border-width: 5px;
}

.icon {
	width: 100px;
	padding: 15px 15px;
}

.bubble_box {
	display: inline-block;
	text-align: left !important;
	padding: 0 20px 0 20px;
	margin: 0 10px 0 10px;
	width: 100px;
	vertical-align: middle;
	
}

.box_text {
	display: inline-block;
	text-align: center !important;
	line-height: 20px;
	font-size: 16px;
}

#av_likes {
	font-weight: bold;
	font-size: 24px;
	color: #3CB29F;
}

#velocity {
	font-weight: bold;
	font-size: 24px;
	color: #FFE27C;
}

#percent_followers {
	font-weight: bold;
	font-size: 24px;
	color: #B033B2;
}

.lists {
	display: inline-block;
}

.list {
	display: inline-block;
	border-style: solid;
	border-color: #d1d1d1;
	border-radius: 5px;
	border-width: 1px;
	width: 200px;
	vertical-align: top;
}

.list_title {
	background: #FFE27C;
	color: #000000;
	padding: 2px 0px;
}

#left {
	
}

#right {
	margin-left: 50px;
}

.fans_tag {
	width: 100px;
	display: block;
	margin: 0 auto;
}

ol {
	text-align: left;
	line-height: 22px;
}

.filters {
	background-color: #3CB29F;
	width: 70%;
	margin: 15px auto;
	padding: 20px;
	border-radius: 6px;
}

.filter_image {

}

.spacer {
	height: 15px;
}
